.carouselWrapper {
	position: relative;
	box-sizing: border-box;
}

.imgWrap {
	position: "absolute";
	top: 0;
	left: 0;
	border-radius: 8px;
}
.imgWrap:hover {
	cursor: pointer;
}

li {
	list-style-type: none;
}
.dn {
	display: none;
}
.carouselImage {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	margin-top: -67px;
	/* border: 2px solid white; */
}
.card {
	background-color: unset !important;
	color: unset !important;
	border-radius: 8px !important;
	line-height: 20px !important;
	font-size: 15px !important;
	border-color: transparent !important;
}
/* Your custom styles for the 3D carousel */
.carousel-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f0f0f0;
}
